<!DOCTYPE html>
<html>
<head>
<title>{% if page_title %}{{ page_title }} - {%endif %}{{ site_name }}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{{ base_url }}/js/mathjax-config.js"></script>
<script src="{{ base_url }}/js/main.js"></script>
<script src="{{ base_url }}/mathjax-config.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<link href="{{ base_url }}/css/main.css" rel="stylesheet" type="text/css">

<body>

<div id="navigationbar">
<hr/>
<ul id="listoflinks">
  {% for nav_item in nav %}
      {% if nav_item.children %}
          <li><b>{{ nav_item.title }}</b>
              <ol>
              {% for nav_item in nav_item.children %}
                  <li class="{% if nav_item.active%}current{%endif%}">
                      <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                  </li>
              {% endfor %}
              </ol>
          </li>
      {% else %}
          <li class="{% if nav_item.active%}current{%endif%}">
              <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
          </li>
      {% endif %}
  {% endfor %}
</ul>
<hr/>
</div>

{{ content }}

</body>
</html>
