<table align="center" width=720px>
    <TR>
        <TD rowspan=3 width=100>
        <img src="{{ base_url }}/myimages/linkedinimage.jpg" width=80 height=80 />
        </TD>
        <TD align="center">
            <strong> <font size=5> Raajay Viswanathan </font> </strong> <br />
            <small>e-mail : raajay at cs dot wisc dot edu </small> <br />
            <small>
                <a href="https://github.com/raajay" target="_blank"><img src="{{ base_url }}/myimages/github.png" height="20" width="20"></a>
                <a href="https://twitter.com/raajay" target="_blank"><img src="{{ base_url }}/myimages/twitter.png" height="20" width="20"></a>
                <a href="https://www.linkedin.com/in/raajay" target="_blank"><img src="{{ base_url }}/myimages/other2.png" height="20" width="20"></a>
            </small>
        </TD>
        <TD rowspan=3 width =100>
        </TD>
    </TR>
</table>
<hr />
