<h1 id="hello-world">Hello world!</h1>
<p>I'm a test Markdown document.</p>
<p><strong>Here's some bold text</strong> and <em>here's some italic text</em>. <code>This is inline code</code>.</p>
<h1 id="markdown-tables">Markdown Tables</h1>
<table>
<thead>
<tr class="header">
<th align="left">First Name</th>
<th align="left">Last Name</th>
<th align="left">Location</th>
<th align="left">Allegiance</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Mance</td>
<td align="left">Rayder</td>
<td align="left">North of the Wall</td>
<td align="left">Wildlings</td>
</tr>
<tr class="even">
<td align="left">Margaery</td>
<td align="left">Tyrell</td>
<td align="left">The Reach</td>
<td align="left">House Tyrell</td>
</tr>
<tr class="odd">
<td align="left">Danerys</td>
<td align="left">Targaryen</td>
<td align="left">Meereen</td>
<td align="left">House Targaryen</td>
</tr>
<tr class="even">
<td align="left">Tyrion</td>
<td align="left">Lannister</td>
<td align="left">King's Landing</td>
<td align="left">House Lannister</td>
</tr>
</tbody>
</table>
<h1 id="code-blocks">Code blocks</h1>
<pre><code>This code
is in
a code block.</code></pre>
<p>Here's a syntax-highlighted code block:</p>
<pre class="sourceCode python"><code class="sourceCode python"><span class="co">#!/usr/bin/env python3</span>

<span class="ch">import</span> sys

<span class="kw">if</span> <span class="ot">__name__</span> == <span class="st">&#39;__main__&#39;</span>:
    <span class="dt">print</span>(<span class="st">&#39;This is highlighted Python code!&#39;</span>)
    sys.exit(<span class="dv">0</span>)</code></pre>
<h1 id="page-layout-with-commands">Page Layout with  Commands</h1>
<p>Here's a forced page break.</p>
<p></p>
<h1 id="latex-support">LaTeX support</h1>
<p>This document supports inline !</p>
<p>Here's the proof: <span class="math">$\frac{n!}{k!(n-k)!} = \binom{n}{k}$</span></p>
<p>Creating a footnote is easy.</p>
<p>Here's an equation:</p>
<p><br /><span class="math">$$
  x = a_0 + \cfrac{1}{a_1
          + \cfrac{1}{a_2
          + \cfrac{1}{a_3 + \cfrac{1}{a_4} } } }
$$</span><br /></p>
<p>Here are some numbered equations:</p>



<p>Here's some multi-line math stuff:</p>
<p><br /><span class="math">$$
 u(x) =
  \begin{cases}
   \exp{x} &amp; \text{if } x \geq 0 \\
   1       &amp; \text{if } x &lt; 0
  \end{cases}
$$</span><br /></p>

